@keyframes pulse {
  50% {
    opacity: 0.5;
  }
}

.animate-pulse {
  animation: pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}

.skeleton {
  height: 40px;
  margin: 0 0 20px 0;
  box-sizing: border-box;

  border-radius: 5px;
  background-color: var(--half-baked-color-100);
}

.skeleton--w-90 {
  width: 90%;
}

.skeleton--w-70 {
  width: 70%;
}

.skeleton--w-60 {
  width: 60%;
}

.skeleton--w-50 {
  width: 50%;
}
