.channels-list {
  position: absolute;
  left: 0;
  z-index: 2;

  /* gives scroll only to channels-list-items excl channels-list__header */
  display: flex;
  flex-direction: column;

  width: 55%;
  height: 100%;
  min-width: var(--min-width);
  max-width: 240px;
  padding: 0 5px 10px 8px;

  border-right: 2px solid var(--lilac-color-100);
  background-color: var(--lilac-color-light);

  /* overflow: auto; */
}

.channels-list--closed {
  /*left: -233px;*//*right: calc(100% - 15px);*/
  left: -230px;
}

@media (min-width: 540px) {
  .channels-list {
    position: static;

    /* flex-basis: 32%; */
    flex-basis: 220px;
    height: 100%;
    width: 220px;
  }

  .channels-list--closed .channels-list__items {
    display: block;
  }
}

@media (min-width: 700px) {
  .channels-list {
    border-radius: 10px 0 0 10px;
  }
}

.channels-list__header {
  position: relative;

  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: left;
  align-items: center;
  padding: 25px 0;
}

@media (min-width: 700px) {
  .channels-list__header {
    justify-content: space-between;
  }
}

.channels-list__toggle-btn {
  position: absolute;
  top: 0;
  width: 34px;
  height: 34px;
  /* margin-left: auto; */

  font-size: 0;

  background-color: var(--main-bg-color);
  border: 2px solid var(--lilac-color-100);
  border-radius: 0;

  transition: transform .1s ease-in-out;
  transform-origin: bottom right;

  cursor: pointer;
}

.channels-list__toggle-btn:active {
  background-color: var(--green-color--active);
}

.channels-list__toggle-btn--to-open {
  /*left: calc(100% + 5px);*/
  left: calc(100% + 5px);
}

.channels-list__toggle-btn--to-close {
 right: -7px;
}

.channels-list__toggle-btn--to-open::before {
  content: "";

  position: absolute;
  top: 5px;
  left: 5px;

  width: 20px;
  height: 2px;

  box-shadow: 0 3px 0 0 #221f1f,
              0 9px 0 0 #221f1f,
              0 15px 0 0 #221f1f;
}

.channels-list__toggle-btn--to-open:active::before {
  box-shadow: 0 3px 0 0 #fff,
              0 9px 0 0 #fff,
              0 15px 0 0 #fff;
}

.channels-list__toggle-btn--to-close::before,
.channels-list__toggle-btn--to-close::after {
  content: "";

  position: absolute;
  top: 14px;
  left: 2px;

  width: 27px;
  height: 2px;

  background-color: #221f1f;
}

.channels-list__toggle-btn--to-close::before {
  transform: rotate(45grad);
}

.channels-list__toggle-btn--to-close::after {
  transform: rotate(-45grad);
}

.channels-list__toggle-btn--to-close:active::after,
.channels-list__toggle-btn--to-close:active::before {
  background-color: #fff;
}

.channels-list__add-channel-btn {
  position: relative;

  width: 26px;
  height: 26px;

  font-size: 0;

  background-color: var(--main-bg-color);
  border: 2px solid var(--pompadour-color);
  border-radius: 2px;

  transition: transform .1s ease-in-out;

  cursor: pointer;
}

.channels-list__add-channel-btn::before,
.channels-list__add-channel-btn::after {
  position: absolute;
  content: "";

  background-color: var(--pompadour-color);
}

.channels-list__add-channel-btn::before {
  top: 2px;
  bottom: 2px;
  left: calc(50% - 1px);

  width: 2px;
}

.channels-list__add-channel-btn::after{
  left: 2px;
  right: 2px;
  top: calc(50% - 1px);

  height: 2px;
}

.channels-list__add-channel-btn:hover,
.channels-list__add-channel-btn:focus {
  background-color: var(--half-baked-color-100);
}

.channels-list__add-channel-btn:active {
  border-color: var(--green-color--active);
  background-color: var(--green-color--active);

  transform: scale(0.9);
}

.channels-list__add-channel-btn:active::before,
.channels-list__add-channel-btn:active::after {
  background-color: var(--main-bg-color);
}

@media (min-width: 540px) {
  .channels-list__toggle-btn {
    display: none;
  }
}

.channels-list__items {
  flex-grow: 1;
  padding: 0;
  margin: 0;
  list-style: none;

  overflow: auto;
}
