:root {
  --max-width--mobile: 700px;
  --min-width: 240px;
  --main-padding-x: 25px;

  --main-bg-color: rgb(255, 250, 234);
  --main-bg-color-70: rgba(255, 250, 234, 0.7);
  --err-message-color: rgb(172, 31, 31);
  --green-color--active: #026447;
  --lilac-color-100: rgba(208, 179, 255, 1);
  --lilac-color-30: rgba(208, 179, 255, 0.3);
  --pompadour-color: rgb(102, 2, 74);
  --half-baked-color-100: rgba(137, 200, 200, 1);
  --half-baked-color-20: rgba(137, 200, 200, 0.2);
  --indigo-color: rgb(50, 4, 137);

  --box-shadow: 0px 5px 10px 1px rgb(180, 180, 180);
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  /* padding: 20px; */
  box-sizing: border-box;

  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  font-size: 16px;

  background-color: var(--main-bg-color);
  background-image: linear-gradient(rgba(133, 188, 204, 0.3) 1px, transparent 1px),
    linear-gradient(90deg, rgba(133, 188,204, 0.3) 1px, transparent 1px),
    linear-gradient(rgba(133, 188, 204, 0.3) 1px, transparent 1px),
    linear-gradient(90deg, rgba(133, 188, 204, 0.3) 1px, transparent 1px);
  background-size: 100px 100px, 100px 100px, 20px 20px, 20px 20px;
  background-position:-2px -2px, -2px -2px, -1px -1px, -1px -1px;
}

@keyframes pulse {
  50% {
    opacity: 0.5;
  }
}

.animate-pulse {
  animation: pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.offscreen {
  /*
  display: none;
  */
  position: absolute;
  left: -9999px;
}

.link {
  color: var(--pompadour-color);
}

.link:visited {
  color: var(--pompadour-color);
}

.link:hover,
.link:focus {
  color: var(--indigo-color);
  font-weight: bold;
}

.link:active {
  color: var(--green-color--active);
}

.btn {
  display: block;
  padding: 8px 12px;

  font-size: 18px;

  border-radius: 5px;

  transition: transform .1s ease-in-out;
}

.btn:hover,
.btn:focus {
  transform: translate(3px, 3px);
}

.btn:active {
  transform: scale(0.9);
}

.skeleton {
  height: 40px;
  margin: 0 0 20px 0;
  box-sizing: border-box;

  border-radius: 5px;
  background-color: var(--half-baked-color-100);
}

.skeleton--w-90 {
  width: 90%;
}

.skeleton--w-70 {
  width: 70%;
}

.skeleton--w-60 {
  width: 60%;
}

.skeleton--w-50 {
  width: 50%;
}

.page-header {
  display: flex;
  gap: 20px;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 30px 25px;
  min-width: var(--min-width);

  background-color: var(--half-baked-color-20);
  box-shadow: var(--box-shadow);
}

.page-header__nav-link {
  position: relative;
  display: block;
  padding-bottom: 5px;

  color: black;
  font-size: 20px;
  line-height: 1.2;
  text-decoration: none;
}

.page-header__nav-link::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;

  width: 100%;
  height: 2px;

  background-color: var(--pompadour-color);
}

.page-header__nav-link:hover::before,
.page-header__nav-link:focus::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;

  width: 100%;
  height: 4px;

  background-color: var(--indigo-color);
}

.page-header__nav-link:active:before {
  background-color: var(--green-color--active);
}

.page-header__btn {
  background-color: #fff;
  border-color: var(--half-baked-color-100);
}

.page-header__btn:active {
  color: #fff;

  background-color: var(--green-color--active);
}

.login {
  width: 100%;
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  margin-bottom: 30px;
  box-sizing: border-box;
  border-radius: 10px;
  box-shadow: var(--box-shadow);
}

.login__footer {
  padding: 25px;
  box-sizing: border-box;

  background-color: var(--lilac-color-30);
  border-width: 0 1px 1px 1px;
  border-style: solid;
  border-color: var(--lilac-color-100);
  border-radius: 0 0 10px 10px;
}

.login__footer p {
  padding: 0;
  margin: 0;

  font-size: 17px;
}

/*
.login__footer a,
.login__footer a:visited {
  color: var(--pompadour-color);
}

.login__footer a:hover,
.login__footer a:focus {
  color: var(--indigo-color);
  font-weight: bold;
}

.login__footer a:active {
  color: var(--green-color--active);
}
*/

.login__title {
  margin: 0;
  padding: 0;
  margin-bottom: 30px;
}

.form {
  font-size: 18px;
}

.form-wrapper {
  display: flex;
  padding: 25px;
  /* margin-bottom: 30px; */

  background-color: var(--half-baked-color-20);
  border-width: 1px;
  border-style: solid;
  border-color: var(--lilac-color-100);
  border-radius: 10px 10px 0 0;
}

.form__err-message {
  padding: 0;
  margin-bottom: 6px;

  color: var(--err-message-color);
  font-weight: bold;
}

.form__input {
  margin-bottom: 30px;
}

.form__input input {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;

  font-size: 18px;
  
  border-color: var(--half-baked-color-100);
  border-radius: 5px;
}

.form__input label {
  display: inline-block;
  width: 100%;
  margin-bottom: 6px;
  box-sizing: border-box;
}

.form__btn-submit {
  background-color: #fff;
  border-color: var(--half-baked-color-100);
}

.form__btn-submit:active {
  color: #fff;

  background-color: var(--green-color--active);
}

.chat {
  position: relative;

  display: flex;
  align-items: stretch;
  width: 100%;
  height: calc(100vh - 30px * 2 - 100px);
  min-width: var(--min-width);
  margin: 30px auto;

  box-shadow: var(--box-shadow);
}

.channels-list {
  position: absolute;
  left: 0;
  z-index: 2;

  width: 33%;
  height: 100%;
  min-width: var(--min-width);
  padding: 0 10px;

  border-right: 2px solid var(--lilac-color-100);
  background-color: #f4dffd;
}

.channels-list--closed {
  left: -230px;
}

.channel-window {
  display: flex;
  flex-direction: column;
  flex-shrink: 1;
  flex-grow: 1;
  flex-basis: 50%;

  background-color: var(--half-baked-color-20);
}

@media (min-width: 500px) {
  .channels-list {
    position: static;

    flex-basis: 33%;
    height: 100%;
    max-width: 240px;
    min-width: 220px;
  }
}

@media (min-width: 700px) {
  .chat {
    width: calc(100vw - var(--main-padding-x) * 2);

    border-radius: 10px;
  }

  .channels-list {
    flex-basis: 30%;

    border-radius: 10px 0 0 10px;
  }

  .channel-window {
    border-radius: 0 10px 10px 0;
  }
}

.channels-list__header {
  position: relative;

  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: left;
  align-items: center;
  padding: 25px 0;
}

.channel-window__header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  padding: 20px 20px;

  box-shadow: var(--box-shadow);
  overflow: auto;
}

@media (min-width: 700px) {
  .channels-list__header {
    justify-content: space-between;
  }

  .channel-window__header {
    border-radius: 0 10px 0 0;
  }
}

.channels-list__toggle-btn {
  position: absolute;
  top: 0;
  width: 34px;
  height: 34px;
  margin-left: auto;

  font-size: 0;

  background-color: var(--main-bg-color);
  border: 2px solid var(--lilac-color-100);
  border-radius: 0;

  transition: transform .1s ease-in-out;
  transform-origin: bottom right;

  cursor: pointer;
}

.channels-list__toggle-btn:active {
  background-color: var(--green-color--active);
}

.channels-list__toggle-btn--to-open {
  left: calc(100% + 10px);
}

.channels-list__toggle-btn--to-close {
  right: -12px;
}

.channels-list__toggle-btn--to-open::before {
  content: "";

  position: absolute;
  top: 5px;
  left: 5px;

  width: 20px;
  height: 2px;

  box-shadow: 0 3px 0 0 #221f1f,
              0 9px 0 0 #221f1f,
              0 15px 0 0 #221f1f;
}

.channels-list__toggle-btn--to-open:active::before {
  box-shadow: 0 3px 0 0 #fff,
              0 9px 0 0 #fff,
              0 15px 0 0 #fff;
}

.channels-list__toggle-btn--to-close::before,
.channels-list__toggle-btn--to-close::after {
  content: "";

  position: absolute;
  top: 14px;
  left: 2px;

  width: 27px;
  height: 2px;

  background-color: #221f1f;
}

.channels-list__toggle-btn--to-close::before {
  transform: rotate(45grad);
}

.channels-list__toggle-btn--to-close::after {
  transform: rotate(-45grad);
}

.channels-list__toggle-btn--to-close:active::after,
.channels-list__toggle-btn--to-close:active::before {
  background-color: #fff;
}

.channels-list__add-channel-btn {
  position: relative;

  width: 26px;
  height: 26px;

  font-size: 0;

  background-color: var(--main-bg-color);
  border: 2px solid var(--pompadour-color);
  border-radius: 2px;

  transition: transform .1s ease-in-out;

  cursor: pointer;
}

.channels-list__add-channel-btn::before,
.channels-list__add-channel-btn::after {
  position: absolute;
  content: "";

  background-color: var(--pompadour-color);
}

.channels-list__add-channel-btn::before {
  top: 2px;
  bottom: 2px;
  left: calc(50% - 1px);

  width: 2px;
}

.channels-list__add-channel-btn::after{
  left: 2px;
  right: 2px;
  top: calc(50% - 1px);

  height: 2px;
}

.channels-list__add-channel-btn:hover,
.channels-list__add-channel-btn:focus {
  background-color: var(--half-baked-color-100);
}

.channels-list__add-channel-btn:active {
  border-color: var(--green-color--active);
  background-color: var(--green-color--active);

  transform: scale(0.9);
}

.channels-list__add-channel-btn:active::before,
.channels-list__add-channel-btn:active::after {
  background-color: var(--main-bg-color);
}

@media (min-width: 500px) {
  .channels-list__toggle-btn {
    display: none;
  }
}

.channels-list__items {
  padding: 0;
  margin: 0;
  list-style: none;

  overflow: auto;
}

.channels-list__item {
  padding: 12px 0;
  margin: 0;
}

.channels-list__item--current {
  color: #fff;

  background-color: var(--pompadour-color);
}

.channels-list__item button {
  width: 100%;

  text-align: left;
  font-size: 16px;
  word-wrap: break-word;

  border: none;
  background-color: transparent;

  transition: all .1s ease-in-out;
}

.channels-list__item button:hover {
  color: var(--pompadour-color);
  font-weight: bold;
}

.channels-list__item--current button {
  color: #fff;
  font-weight: bold;
}

.channels-list__item--current button:hover {
  color: #fff;
}

@media (min-width: 700px) {
  .channels-list__item button {
    font-size: 16px;
  }
}

.channel-window__messages {
  padding: 30px 25px;
  flex-grow: 1;

  background-color: var(--main-bg-color-70);
  overflow: auto;
}

.channel-window__form {
  width: 100%;
  box-sizing: border-box;

  background-color: #fff;
}

@media (min-width: 700px) {
  .channel-window__form {
    border-radius: 0 0 10px 0;
  }
}

.channel-window__form-control {
  
  display: flex;
  justify-content: space-between;

}

.channel-window__form-control input {
  width: 100%;
  box-sizing: border-box;/*
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 70%;
  flex-wrap: wrap;
  */
  padding: 15px 15px;

  font-size: 18px;

  border: none;
  /* overflow-y: auto; */
}

.channel-window__form-submit-btn {
  position: relative;

  width: 50px;
  height: 50px;

  font-size: 0;

  background-color: var(--main-bg-color);
  border: 2px solid var(--pompadour-color);
  border-radius: 0;

  transition: transform .1s ease-in-out;
  transform-origin: bottom right;
}

.channel-window__form-submit-btn::before {
  position: absolute;
  content: "";
  top: calc(50% - (6px + 1px));
  left: calc(50% - 6px);

  width: 12px;
  height: 12px;

  border-top: 2px solid var(--pompadour-color);
  border-right: 2px solid var(--pompadour-color);
  transform: rotate(45deg);
}

.channel-window__form-submit-btn::after {
  position: absolute;
  content: "";
  top: calc(50% - 1px);
  left: 10px;
  right: 10px;

  /* width: 22px; */
  height: 2px;

  background-color: var(--pompadour-color);
}

.channel-window__form-submit-btn:hover,
.channel-window__form-submit-btn:focus {
  background-color: var(--half-baked-color-100);
}

.channel-window__form-submit-btn:active {
  background-color: var(--green-color--active);
  border-color: var(--green-color--active);

  transform: scale(0.9);
}

.channel-window__form-submit-btn:active::before {
  border-top: 2px solid var(--main-bg-color);
  border-right: 2px solid var(--main-bg-color);
  transform: rotate(45deg);
}

.channel-window__form-submit-btn:active::after {
  background-color:  var(--main-bg-color);
}

@media (min-width: 700px) {
  .channel-window__form-submit-btn {
    border-radius: 0 0 10px 0;
  }
}
